* {
	padding: 0px;
	margin: 0px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,body{
	height: 100%;
}

aside,
nav,
footer,
header,
section,
main {
	display: block;
}
a {
	text-decoration: none;
}
button {
	cursor: pointer;
	text-align: center;
}
textarea, input {
	font: inherit;
}

* {
	-webkit-tap-highlight-color: transparent;
}