@layer reset {
  * {
    padding: 0px;
    margin: 0px;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
  }
  aside,
  nav,
  footer,
  header,
  section,
  main {
    display: block;
  }
  a {
    text-decoration: none;
  }
  button {
    cursor: pointer;
    text-align: center;
  }
  textarea, input {
    font: inherit;
  }
  * {
    -webkit-tap-highlight-color: transparent;
  }
}
:root {
  --main: #4D39DC;
}

@font-face {
  font-family: "SF";
  src: local("San Francisco(SF UI) Display Regular"), local("San-Francisco(SF-UI)-Display-Regular"), url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff"), url("../fonts/SFUIDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF";
  src: local("San Francisco(SF UI) Display Medium"), local("San-Francisco(SF-UI)-Display-Medium"), url("../fonts/SFUIDisplay-Medium.woff2") format("woff2"), url("../fonts/SFUIDisplay-Medium.woff") format("woff"), url("../fonts/SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@layer components {
  .btn {
    border-radius: 8px;
    font-size: 14px;
    border: 0;
    color: white;
    padding: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #5457db 0%, #4823dd 100%);
  }
}
@layer variations {
  .btn-ghost {
    border-radius: 8px;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #5457DB;
    color: var(--main);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: transparent;
  }
}
* {
  font-family: "SF";
}

.container {
  max-width: 1260;
  padding: 0 30px;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-body {
  background-color: darkgoldenrod;
  position: relative;
  flex: 1;
}
.app-body__map {
  width: 100%;
  height: 100%;
}
.app-body__map .leaflet-bottom.leaflet-right .dg-attribution__copyright {
  display: none !important;
}
.app-body__map .leaflet-marker-icon.leaflet-div-icon.leaflet-zoom-animated.leaflet-interactive {
  border: 0;
  background: transparent;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.app-body__location {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  bottom: 192px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.place-info {
  background-color: #fcfcfd;
  position: fixed;
  bottom: 80px;
  left: 20px;
  right: 20px;
  border-radius: 12px;
  padding: 12px 10px;
  font-size: 14px;
  box-shadow: 0px 4px 5px -3px rgba(0, 0, 0, 0.25);
  display: none;
  z-index: 10;
}
.place-info.active {
  display: block;
}
.place-info__info {
  display: flex;
  gap: 7px;
}
.place-info__image img {
  background-color: #d9d9d9;
  width: 70px;
  height: 70px;
  border-radius: 12px;
}
.place-info__body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.place-info__title {
  color: var(--main);
  font-weight: 500;
}
.place-info__price {
  font-weight: 500;
  white-space: nowrap;
  font-size: 12px;
  margin-left: 4px;
}
.place-info__address img {
  height: 1em;
}
.place-info__footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.place-info__actions {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}
.place-info__arend-btn {
  flex: 1;
  padding: 11px;
}
.place-info__build-route-btn {
  width: 35px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}
.place-info__build-route-btn img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.place-full-info {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  z-index: 20;
  bottom: 80px;
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
}
.place-full-info.active {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: auto;
  width: auto;
  opacity: 1;
}
.place-full-info__content {
  display: none;
}
.place-full-info__content:not([data-content=info]) .place-full-info__title {
  text-align: center;
}
.place-full-info__content.active {
  display: block;
}
.place-full-info__image {
  width: 100%;
}
.place-full-info__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.place-full-info__body {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-top: -12px;
  position: relative;
  background-color: #fcfcfd;
  padding: 33px 24px 30px 24px;
  transition: all 400ms ease-in-out;
}
.place-full-info__back-btn {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 10px;
  left: 12px;
}
.place-full-info__close-btn {
  border: 0;
  background-color: #eaeaea;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 12px;
}
.place-full-info__close-btn img {
  width: 10px;
}
.place-full-info__title {
  font-weight: 500;
  margin-bottom: 10px;
}
.place-full-info__address {
  font-size: 14px;
}
.place-full-info__divider {
  margin: 9px 0;
  height: 2px;
  width: 106%;
  translate: -3% 0;
  background-color: rgba(146, 144, 205, 0.5);
}
.place-full-info__subtitle {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 7px;
  margin-top: 8px;
}
.place-full-info__text {
  font-size: 11px;
  padding-left: 20px;
  margin-bottom: 4px;
}
.place-full-info__tag {
  font-size: 11px;
  background-color: #eaeaea;
  border-radius: 8px;
  padding: 2px 10px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 8px;
}
.place-full-info__actions {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}
.place-full-info__add-rating-btn {
  aspect-ratio: 1;
  height: 38px;
  border-radius: 12px;
}
.place-full-info__add-rating-btn img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.place-full-info__build-route-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.place-full-info__arend-btn, .place-full-info__tomarkup-btn, .place-full-info__tosummary-btn, .place-full-info__to-pay-btn, .place-full-info__to-finish-btn, .place-full-info__share-btn, .place-full-info__to-main-btn {
  margin-top: 12px;
  width: 100%;
}
.place-full-info__labels {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 17px;
  margin-top: 22px;
  margin-bottom: 10px;
}
.place-full-info .place-full-info-label {
  display: flex;
  align-items: center;
  gap: 3px;
}
.place-full-info .place-full-info-label__color {
  width: 17px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.place-full-info .place-full-info-label__color.free {
  border: 1px solid gray;
}
.place-full-info .place-full-info-label__color.invalid {
  background-color: #8487ef;
}
.place-full-info .place-full-info-label__color.close {
  background-color: #bfbfbf;
}
.place-full-info .place-full-info-label__text {
  font-size: 14px;
}
.place-full-info .place-full-info-markup__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
}
.place-full-info .place-full-info-markup__spot {
  border: 1px solid #7e7e7e;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-weight: 500;
}
.place-full-info .place-full-info-markup__flow {
  border-top: 4px dashed rgb(110, 110, 110);
  border-bottom: 4px dashed rgb(110, 110, 110);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 10px;
  margin: 12px 8px;
}
.place-full-info__pay-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.place-full-info .place-full-info-pay-item {
  display: flex;
  gap: 6px;
  align-items: center;
}
.place-full-info .place-full-info-pay-item__image {
  width: 25px;
}
.app-search {
  position: fixed;
  top: 53px;
  left: 20px;
  right: 20px;
}
.app-search img {
  position: absolute;
  left: 12px;
  top: 50%;
  translate: 0 -50%;
  height: 1em;
}
.app-search input {
  background: #fcfcfd;
  font-size: 16px;
  padding: 10px;
  padding-left: 39px;
  border-radius: 12px;
  border: 0;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.25);
  width: 100%;
  color: #999;
  line-height: 1.4;
}
.app-search input::-moz-placeholder {
  color: #999;
}
.app-search input::placeholder {
  color: #999;
}

.app-nav {
  height: 67px;
  display: grid;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-top: -12px;
  position: relative;
  background-color: #fcfcfd;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
}
.app-nav__btn {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 0;
  background-color: transparent;
}
.app-nav__btn img:nth-child(2) {
  display: none;
}
.app-nav__btn.active img:nth-child(1) {
  display: none;
}
.app-nav__btn.active img:nth-child(2) {
  display: block;
}

.dn {
  display: none;
}